/* agregamos colores de fondo para las etiuetas de maquetacion */
body {
  background-color: blue;
}
.contenedor {
  background-color: gainsboro;
}
header {
  background-color: gold;
}
nav {
  background-color: greenyellow;
}
section {
  background-color: white;
}
footer {
  background-color: rebeccapurple;
}
.borde1 {
  border-style: dotted;
}
.borde2 {
  border-style: dashed;
}
.borde3 {
  border-style: solid;
}
.borde4 {
  border-style: double;
}
.borde5 {
  border-style: groove;
}
.borde6 {
  border-style: ridge;
}
.borde7 {
  border-style: inset;
}
.borde8 {
  border-style: outset;
}
.borde9 {
  border-style: none;
}
.borde10 {
  border-style: hidden;
}
/* border-style valor: border se aplica los 4 lados de la etiqueta (arriba,abajo,izquierda,derecha) */
/* border-style valor1 valor2: border se aplica (arriba,abajo), (izquierda,derecha) */
/* border-style valor1 valor2 valor3: border se aplica(arriba),(izquierda,derecha), (abajo) */
/* border-style valor1 valor2 valor3 valor4: border se aplica (arriba), (derecha), (abajo), (izquierda) */
.borde11 {
  border-style: solid dashed double dotted;
}
.borde12 {
  border-style: dotted;
  border-width: 10px;
}
.borde13 {
  border-style: dashed;
  border-width: medium;
}
.borde14 {
  border-style: solid;
  border-width: 10px 3px 25px 15px;
}
.borde15 {
  border-style: solid;
  border-color: red;
}
.borde16 {
  border-style: dashed;
  border-width: 10px;
  border-color: red green blue yellow;
}
/* aplicamos bordes solo a un lugar espcifico
arriba=top
abajo=bottom
izquierda=left
derecha=right */
.borde17 {
  border-top-style: dashed;
}
.borde18 {
  border-bottom-style: dotted;
}
.borde19 {
  border-left-style: groove;
}
.borde20 {
  border-right-style: solid;
}
.borde21 {
  border-style: solid;
  border-width: medium;
  border-radius: 5px;
}
.borde22 {
  border-style: solid;
  border-width: 20px;
  border-radius: 15px;
}
