body {
  background-color: azure;
}
.contenedor {
  background-color: darkcyan;
  border: 1px solid black;
  padding: 12px;
  margin: auto;
  width: 980px;
  height: 735px;
}
.datosgenerales {
  background-color: antiquewhite;
  border: 1px solid black;
  padding: 12px;
  margin: auto;
  width: 900px;
  height: 230px;
}
.cualidad {
  background-color: antiquewhite;
  border: 1px solid black;
  padding: 12px;
  width: 900px;
  height: 120px;
  margin: auto;
}
.formacion {
  background-color: antiquewhite;
  border: 1px solid black;
  padding: 12px;
  width: 900px;
  height: 170px;
  margin: auto;
}
.contactanos {
  background-color: antiquewhite;
  border: 1px solid black;
  padding: 12px;
  width: 900px;
  height: 110px;
  margin: auto;
}
